@import url('https://fonts.googleapis.com/css?family=Varela|Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}


body {
  color: #575f7d;
  font-family: 'Varela Round', sans-serif;
  background-color: #F8F9FC;
  margin:0;
  padding: 0;
}

.container {
  width: 700px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.text-center {
  text-align: center;
}

.portfolio-card {
  background: #F8F9FC;
  padding: 0px;
  /*border: 1px solid lightgrey;*/
  min-height:100vh;
  border-radius:4px;
  /*box-shadow: 1px 3px 30px rgba(0,0,0,0.1)*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.d-flex-center {
  display:flex;
  justify-content: center;
  align-items: center;
}

.d-flex-between {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex-around {
  display:flex;
  justify-content: space-around;
  align-items: center;
}

#profilepic{
  width: 200px;
  margin-top: 100px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.discoverbtn{
  color: white;
  /*margin: 50px 0;*/
  display: inline-block;
  padding: 16px;
  margin: 16px;
  border-radius: 4px;
  background-color: #2a1a5e;
  transition: all .3s ease;
}

.discoverbtn:hover {
  background-color: #F45905;
}

.project-img {
  width: 325px;
  height: 190px;
  display: inline-block;
  background: transparent;
  /*box-shadow: 1px 3px 30px rgba(0,0,0,0.1);*/
  transition: all .5s ease;
}

.project-img:hover{
 width:500px;
 height: 300px;
 transition: all .5s ease;
}

.project-card {
  margin: 20px 0;
  /*border: 1px solid lightgrey;*/
  /*box-shadow: 1px 3px 30px rgba(0,0,0,0.1)*/
}

.miscellanious {
  font-size: 20px;
}

.miscellanious:hover{
  font-size: 25px;
  transition: 0.4s;
}

.miscellanious-card {
  min-height: 80vh;
}


.project-card a {
  color: #2a1a5e;
  padding: 0 20px;
  transition: all .3s ease;
}

.project-card a:hover {
  color: #F45905;
  cursor: pointer;

}

.img-language {
  height: 50px;
}

.text-language {
  opacity:0;
  transition: .3s
}

.languages > li:hover .text-language {
  opacity:1;
}

h1{
  font-size: 32px;
}

h2 {
  font-size: 24px;
  /*margin: 30px 0px;*/
}

h3 {
  color: #F45905;
}

p {
  /*margin: 40px 0px;*/
}

a {
  text-decoration: none;
}


.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline a:hover{
  opacity: 0.6;
  color: #F45905;
  transition: all .3s ease;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;

}


/* PROGRESS BAR */

.progress-container {
  width: 100%;
  height: 2px;
  position: fixed;
  top: 0;
  z-index: 100;
  /*margin: 0;*/
  /*padding: 0;*/
}

.progress-bar {
  margin:0;
  height: 2px;
  background: #ff4a64;
  width:0px;
  transition: width 0.1s ease;
}

#progress-bar {

}

/*color theme : https://colorhunt.co/palette/158955*/
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 600px;
  }

  #profilepic{
    margin-top: 20px;
  }

  .project-img {
    width: 160px;
    height: 95px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }

  #profilepic{
    margin-top: 20px;
  }

  .project-img {
    width: 160px;
    height: 95px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }

  #profilepic{
    margin-top: 20px;
  }

  .project-img {
    width: 160px;
    height: 95px;
  }
}


